<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="SettlementApp.Properties.Settings.TMW_LiveConnectionString"
            connectionString="Data Source=DBSQL12VB21\BRDGTST;Initial Catalog=TMW_Live;Persist Security Info=True;User ID=BoDaRptEml;Password=NV7zpr9#cpqm5"
            providerName="System.Data.SqlClient" />
        <add name="SettlementApp.Properties.Settings.TMW_LiveProdConn"
            connectionString="Data Source=DBSQL12VB21\BRDGTST;Initial Catalog=TMW_Live;Persist Security Info=True;User ID=BoDaRptEml;Password=NV7zpr9#cpqm5"
            providerName="System.Data.SqlClient" />
        <add name="SettlementApp.Properties.Settings.WarehouseConnectionString"
            connectionString="Data Source=DBSQL12VB21\BRDGTST;Initial Catalog=Warehouse;Persist Security Info=True;User ID=BoDaRptEml;Password=NV7zpr9#cpqm5"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <bindings />
        <client />
    </system.serviceModel>
  <appSettings>
    <add key="FilePath" value="V:\\Summaries\\"/>
    <add key="ExePath"  value="C:\\Settlements\\"/>
    <add key="ArchivePath"  value="V:\\SummaryArchives\\" />
    <add key="OutPath" value="V:\\Outs"  />
  </appSettings>
</configuration>