
USE [Fpars]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO


PRINT 'Insert into invoice_mstr...'
GO

INSERT INTO [dbo].[invoice_mstr]
	SELECT * 
	FROM [Fpars].[dbo].[invoice_mstr_2008_Q1]
	

GO

INSERT INTO [dbo].[invoice_mstr]
	SELECT * 
	FROM [Fpars].[dbo].[invoice_mstr_2008_Q2]

GO

INSERT INTO [dbo].[invoice_mstr]
	SELECT * 
	FROM [Fpars].[dbo].[invoice_mstr_2008_Q3]
	

GO

INSERT INTO [dbo].[invoice_mstr]
	SELECT * 
	FROM [Fpars].[dbo].[invoice_mstr_2008_Q4]

GO

INSERT INTO [dbo].[invoice_mstr]
	SELECT * 
	FROM [Fpars].[dbo].[invoice_mstr_2009_Q1]
	

GO

INSERT INTO [dbo].[invoice_mstr]
	SELECT * 
	FROM [Fpars].[dbo].[invoice_mstr_2009_Q2]

GO

INSERT INTO [dbo].[invoice_mstr]
	SELECT * 
	FROM [Fpars].[dbo].[invoice_mstr_2009_Q3]
	

GO

INSERT INTO [dbo].[invoice_mstr]
	SELECT * 
	FROM [Fpars].[dbo].[invoice_mstr_2009_Q4]

GO

PRINT 'Insert into invoice_mstr Done'
GO
