
USE [Fpars]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO

PRINT 'Insert into po_headers...'
GO

INSERT INTO [dbo].[po_headers]
	SELECT * 
	FROM [Fpars].[dbo].[po_headers_2008_Q1]
	

GO

INSERT INTO [dbo].[po_headers]
	SELECT * 
	FROM [Fpars].[dbo].[po_headers_2008_Q2]

GO

INSERT INTO [dbo].[po_headers]
	SELECT * 
	FROM [Fpars].[dbo].[po_headers_2008_Q3]
	

GO

INSERT INTO [dbo].[po_headers]
	SELECT * 
	FROM [Fpars].[dbo].[po_headers_2008_Q4]

GO

INSERT INTO [dbo].[po_headers]
	SELECT * 
	FROM [Fpars].[dbo].[po_headers_2009_Q1]
	

GO

INSERT INTO [dbo].[po_headers]
	SELECT * 
	FROM [Fpars].[dbo].[po_headers_2009_Q2]

GO

INSERT INTO [dbo].[po_headers]
	SELECT * 
	FROM [Fpars].[dbo].[po_headers_2009_Q3]
	

GO

INSERT INTO [dbo].[po_headers]
	SELECT * 
	FROM [Fpars].[dbo].[po_headers_2009_Q4]

GO

INSERT INTO [dbo].[po_headers]
	SELECT * 
	FROM [Fpars].[dbo].[po_headers_2010_Q1]
	

GO

INSERT INTO [dbo].[po_headers]
	SELECT * 
	FROM [Fpars].[dbo].[po_headers_2010_Q2]

GO

INSERT INTO [dbo].[po_headers]
	SELECT * 
	FROM [Fpars].[dbo].[po_headers_2010_Q3]
	

GO

INSERT INTO [dbo].[po_headers]
	SELECT * 
	FROM [Fpars].[dbo].[po_headers_2010_Q4]

GO

INSERT INTO [dbo].[po_headers]
	SELECT * 
	FROM [Fpars].[dbo].[po_headers_2011_Q1]
	

GO

INSERT INTO [dbo].[po_headers]
	SELECT * 
	FROM [Fpars].[dbo].[po_headers_2011_Q2]

GO

INSERT INTO [dbo].[po_headers]
	SELECT * 
	FROM [Fpars].[dbo].[po_headers_2011_Q3]
	

GO

INSERT INTO [dbo].[po_headers]
	SELECT * 
	FROM [Fpars].[dbo].[po_headers_2011_Q4]

GO

PRINT 'Insert into po_headers Done'
GO