
USE [Fpars]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO

PRINT 'Insert into log_table...'
GO

INSERT INTO [dbo].[log_table]
	SELECT * 
	FROM [Fpars].[dbo].[log_table_2009_Q1]
	

GO

INSERT INTO [dbo].[log_table]
	SELECT * 
	FROM [Fpars].[dbo].[log_table_2009_Q2]

GO

INSERT INTO [dbo].[log_table]
	SELECT * 
	FROM [Fpars].[dbo].[log_table_2009_Q3]
	

GO

INSERT INTO [dbo].[log_table]
	SELECT * 
	FROM [Fpars].[dbo].[log_table_2009_Q4]

GO

INSERT INTO [dbo].[log_table]
	SELECT * 
	FROM [Fpars].[dbo].[log_table_2010_Q1]
	

GO

INSERT INTO [dbo].[log_table]
	SELECT * 
	FROM [Fpars].[dbo].[log_table_2010_Q2]

GO

INSERT INTO [dbo].[log_table]
	SELECT * 
	FROM [Fpars].[dbo].[log_table_2010_Q3]
	

GO

INSERT INTO [dbo].[log_table]
	SELECT * 
	FROM [Fpars].[dbo].[log_table_2010_Q4]

GO


PRINT 'Insert into log_table Done'
GO